
*{

    margin: 0%;
    padding: 0%;
    box-sizing:border-box ;

    
}
html,body{
    width: 100%;
    height:100%; 


}
    
.main{
    height: 100%;
    width: 100%;
    position: relative;

}
.nav{
    height:100px;
    width:100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;


}
.nav-2{
    display: flex;
    gap: 4vw;
    

}
.nav h2{
    font-size: 2vw;
    font-weight: 700;
}


.nav h4{
    font-size: 1.vw;
    font-weight: 900;
    
}


.content{
    height:calc(100% - 100px);
    width: 100%;
    background-color:transparent;
    display: flex;
    position: relative;

}
.left{
    height:100% ;
    width:55%;
    background-color: transparent;
    padding: 5vw  4vw;
}

.left h1{
    font-size: 4vw;
    line-height: 4vw;
}
.left h1 span{ 
    color: lightseagreen;

}
.left p{
    font-size: 1.2vw;
    font-weight: 600;
    color: #666;
    width: 80%;
    margin-top: 3vw;
    margin-bottom: 4vw;


}
.left img{
height: 100%;
width: 100%;
z-index:-1 ;
opacity: 0.75;
}

button{
    font-size: 1.2vw;
    padding:1vw 2vw;
    background-color:lightseagreen;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}



.right{
    height: 100%;
    width:45%;
    background-color:transparent ;
}

.right img{
    height: 100%;
    width: 100%;
    border-radius: 10px;

}


@media (max-width:600px) {
    
    .nav{
     
        padding: 0 6vw;
        height: 60px;

}

.button{
    font-size: 1.2vw;
    padding:1vw 2vw;
    background-color:lightseagreen;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}
.content{
    height: calc(100% - 60px);
    flex-direction: column;

}
.right{
    width: 100%;
    height: 50%;
}
.left{
    width: 100%;
    height: 50%;

}
.left{
    font-size: 10vw;
    line-height: 11vw;
}
.page2{
    height: 100px;
    width: 100%;
    background-color: aqua;

}
    .page3{
        height: 100px;
        width: 100%;
        background-color: blue;
    }
    